@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

NAVIGATION

*/

img {
    height: 40px;
    width: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__link {
    padding: 24px 0;
    margin: 16px;
}

.nav__logo {
    margin-left: 12px;
    display: flex;
    align-items: center;
    max-width: 120px;
}

.nav__logo--title {
    display: block;
    font-weight: bold;
    margin: 12px;
}

button {
    background-color: #6415ff;
    color: white;
    border-radius: 100px;
    padding: 8px;
}

.login {
    padding-left: 30px;
}

.color {
    color: #6415ff;
}

/*

HEADER

*/

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.header__box {
    display: flex;
}

.header__row {
    flex-direction: column;
    max-width: 600px;
    margin: 0;
    padding: 0 12px;
}

.header__logo {
    display: flex;
    justify-content: flex-end;
    padding: 12px; 
    max-width: 500px;
    max-height: 500px;
}

h1 {
    font-size: 30px;
    padding: 12px;
}

.header__para {
    max-width: 600px;
    padding: 12px 12px;
}

.header__email {
    display: flex;
}

.header__email--input {
    max-width: 200px;
    margin-left: 12px;
}

.header__btn {
    max-width: 120px;
}

.header__para--trusted {
    color: #a0aca0;
    display: flex;
    align-items: flex-end;
    
}

