@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 36px;
    padding: 12px;
}

button {
   border: none;
   cursor: pointer;
}

.container {
    display: flex;
    height: 100%;
}


/*

NAVIGATION

*/

img {
    height: 40px;
    width: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__link {
    padding: 24px 0;
    margin: 16px;
}

.nav__logo {
    padding-left: 24px;
    display: flex;
    align-items: center;
    max-width: 120px;
}

.nav__logo--title {
    display: block;
    font-weight: bold;
    font-size: 26px;
    padding: 12px;
}

button {
    background-color: #6415ff;
    color: white;
    border-radius: 100px;
    padding: 8px;
}

.login {
    padding-left: 30px;
}

.color {
    color: #6415ff;
}

/*

HEADER

*/


.header__row {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    gap: 32px;
    flex: 1 1 0;
}

.header__box {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.header__description {
    margin: 0;
    padding: 24px 24px;
}

.header__para {
    max-width: 450px;
    padding: 24px;
}

.header__email {
    padding: 24px;
    margin: none;
    display: flex;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid #a0aca0;
    font-size: 16px;
    font-weight: 500;
}

.header__email--btn {
    max-width: 120px;
    height: 50px;
}

.header__para--trusted {
    color: #a0aca0;
    display: flex;
    flex-direction: column; 
    padding-top: 54px;
}

.header__trusted {
    padding-left: 24px;
}

.header__logo--container {
    display: flex;
    justify-content: flex-end;
}

.design__1 {
    height: auto;
    width: 480px;
    padding: 0 24px;
    max-width: 100%;
}

.header__strip {
    width: 400px;
    height: 50px;
    padding-left: 24px;
}

/*

FEATURES

*/

.feature__row--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.feature__heading {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6415ff;
    padding-top: 100px;
}

.feature__description {
    padding: 34px;
    font-size: 50px;
}

.feature__paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 34px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    flex-wrap: wrap;
    flex: calc(33.3%);
    padding-left: 100px;
    padding-top: 26px;
}

.feaure__row {
   display: flex;
   align-items: center;
   padding: 32px 8px;
   margin: 0 16px;
}

.feature__img--wrapper {
    display: flex;
    border-radius: 500px;
    padding: 10px;
    border: 1px solid grey;
    max-width: fit-content;
}

.feature__img {
    max-width: 75%;
    padding-left: 8px;
}

.feature__text { 
    margin: 8px 0 0 16px;
    max-width: 50%;
}

/*

QUALTIY

*/

#quality {
    margin-top: 100px;
}

.quality__row {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__box {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.quality__header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6415ff;
    letter-spacing: 1.6px;
    padding-top: 100px;
    padding-bottom: 24px;
}

.quality__description {
    font-size: 62px;
    max-width: 500px;
    padding-bottom: 24px;
}

.quality__para {
    font-size: 18px;
    max-width: 500px;
    padding-bottom: 24px;
}

.quality__btn {
    max-width: 120px;
}

.quality__pic--container {
   margin: 50px;
}

.design__2 {
    height: 320px;
    width: 540px;
    max-width: 100%;
    border: 1px solid gray;
}

/*

STEPS

*/

#steps {
    margin-top: 100px;
}

.steps__box {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design__3 {
    height: 320px;
    width: 540px;
    max-width: 100%;
    padding: 24px;
}

.steps__column {
    padding: 34px;
}

.steps__header {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6415ff;
    padding-bottom: 24px;
}

.steps__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.5;
    padding-bottom: 24px;
}

.steps__list {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.step {
    margin-top: 32px;
    align-items: flex-start;
    display: flex;
}

.step__number {
    font-size: 36px;
    color: lightgrey;
    font-weight: 600;
    padding-right: 12px;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-size: 24px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 16px;
    color: #718096;
    margin-top: 10px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

#values {
    margin-top: 100px;
}

.values__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__box {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.values__header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6415ff;
    letter-spacing: 1.6px;
    padding-bottom: 24px;
}

.values__description {
    font-size: 48px;
    max-width: 500px;
    padding-bottom: 24px;
}

.values__paragraph {
    font-size: 18px;
    max-width: 500px;
    padding-bottom: 24px;
}

.values {
    font-size: 16px;
    max-width: 500px;
    padding-bottom: 24px;
    margin-top: 32px;
    align-items: flex-start;
    display: flex;
}

.dollar__img--container,
.briefcase__img--container {
    display: flex;
    border-radius: 500px;
    padding: 10px;
    border: 1px solid grey;
    max-width: fit-content;
}

.dollar__img,
.briefcase__img {
    height: 16px;
    width: 16px;
}

.dollar__img--container {
    background-color: palegreen;
}

.briefcase__img--container {
    background-color: rgb(224, 111, 69);
}

.values__btn {
    max-width: 200px;
}

.design__4 {
    height: 320px;
    width: 540px;
    max-width: 100%;
} 







