@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*

LANDING

*/

img {
    height: 40px;
    width: 40px;
}

.row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.nav__menu {
    display: flex;
}

.nav__link {
    padding: 24px 0;
    margin: 16px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--title {
    display: block;
    font-weight: bold;
    margin: 12px;
}

button {
    background-color: purple;
    color: white;
    border-radius: 100px;
    padding: 8px;
}

.login {
    padding-left: 30px;
}